.Details {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 1rem 0;
  border: 2px solid var(--main-blue);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--main-blue);
  box-shadow: 0 0 0.5rem var(--main-blue);
  font-size: 0.9rem;
  font-family: var(--font);
  animation: fade-in 2s;

  &-headline {
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
  }

  &-tables {
    display: flex;
    justify-content: space-evenly;

    &-headline {
      padding-bottom: 0.5rem;
      text-align: center;
      font-size: 1.1rem;
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 400px) {
  .Details {
    margin: 1rem;
    font-size: 0.6rem;

    &-tables {
      &-best {
        display: none;
      }
    }
  }
}
@media screen and (min-width: 200px) and (max-width: 900px) {
  .Details {
    margin: 1rem 2rem;
    font-size: 0.7rem;

    &-tables {
      &-best {
        display: none;
      }
    }
  }
}
