.Menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  margin: 1vh 12vw;

  &-logo {
    height: 80px;
  }

  &-list {
    font-size: 1.2rem;
    a {
      text-decoration: none;
      margin: 0 2rem;
    }
  }

  &-active {
    color: red;
  }

  &-counter {
    background-color: red;
    color: #ffcb05;
    padding: 0 0.2rem;
    border-radius: 10px;
    position: relative;
    bottom: 1rem;
    font-size: 1rem;
  }
}
