.Menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vh 12vw;
  font-family: var(--font);

  &-logo {
    height: 80px;
    animation: rotate infinite 10s;
  }

  &-list {
    padding: 0;
    font-size: 1.2rem;
    a {
      margin: 0 1rem;
      text-decoration: none;

      &:active,
      &:focus,
      &:visited {
        color: var(--main-blue);
      }
    }
  }

  &-active {
    padding: 0.5rem;
    background-color: var(--main-yellow);
    border-radius: 10px;
    border: 2px solid var(--main-blue);
    box-shadow: 0 0 0.5rem var(--main-blue);
  }

  &-counter {
    padding: 0 0.2rem;
    background-color: red;
    color: var(--main-yellow);
    border-radius: 10px;
    position: relative;
    bottom: 1rem;
    font-size: 1rem;
  }
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media screen and (min-width: 200px) and (max-width: 800px) {
  .Menu {
    flex-direction: column;
    align-items: center;
    margin: 0;

    &-list {
      font-size: 0.8rem;
    }
  }
}
@media screen and (min-width: 200px) and (max-width: 800px) {
  .Menu {
    &-list {
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 800px) and (max-width: 1100px) {
  .Menu {
    align-items: center;
    margin: 1vh 5vw;

    &-list {
      font-size: 1rem;
    }
  }
}
