.MyPokemon {
  margin: 0 12vw;
  &-render {
    &-pokemons {
      margin: auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
      animation: fade-in 1.5s;
    }

    &-loader {
      display: flex;
      justify-content: center;
      margin: 25vh 0;
    }
  }

  &-empty {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3169b1;
    font-size: 2rem;
  }
}
