.MyPokemon {
  margin: 0 12vw;
  &-render {
    &-pokemons {
      margin: auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
      animation: fade-in 1.5s;
    }

    &-loader {
      display: flex;
      justify-content: center;
      margin: 25vh 0;
    }
  }

  &-empty {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-blue);
    font-size: 2rem;
  }
}

@media screen and (min-width: 200px) and (max-width: 600px) {
  .MyPokemon {
    margin: 0;

    &-render {
      &-pokemons {
        margin-top: 1rem;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
      }

      &-loader {
        margin: 15vh 0;
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .MyPokemon {
    margin: 0 1rem;

    &-render {
      &-pokemons {
        grid-template-columns: repeat(2, 1fr);
      }

      &-loader {
        margin: 15vh 0;
      }
    }
  }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
  .MyPokemon {
    margin: 0 1rem;

    &-render {
      &-pokemons {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
