.Pokemon-card {
  position: relative;
  height: 250px;
  width: 270px;
  perspective: 1500px;
  margin: 0 auto;

  &-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border: 1px solid #3169b1;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem gray;

    &-front {
      background-color: white;
      color: #000;
      box-shadow: 0 0 0.5rem #3169b1;

      img {
        height: 80px;
      }
    }

    &-back {
      transform: rotateY(-180deg);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem;
      box-sizing: border-box;
      color: #000;
      font-size: 0.9rem;
      border: 1px solid #ffcb05;
      box-shadow: 0 0 0.5rem #ffcb05;

      ul {
        margin-top: 0;
        display: flex;
        padding: 0;
        width: 100%;
        list-style: none;
        border-bottom: 2px solid #3169b1;
        padding-bottom: 0.5rem;

        li {
          margin: 0 1rem;
          cursor: pointer;
        }
      }
    }
  }

  &:hover &-side-front {
    transform: rotateY(180deg);
  }

  &:hover &-side-back {
    transform: rotateY(0deg);
  }

  &-btn {
    width: 100%;
    cursor: pointer;
    border: 2px solid #3169b1;
    color: #3169b1;
    background-color: #ffcb05;
    padding: 0.3rem;
    transition: all 0.5s;
    border-radius: 10px;

    &:hover {
      border: 2px solid #ffcb05;
      color: #ffcb05;
      background-color: #3169b1;
    }
  }

  &-menu {
    li {
      color: #3169b1;
      transition: all 0.5s;

      &:hover {
        color: #ffcb05;
      }
    }
  }
}

.About {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1rem;

  &-bold {
    font-weight: 500;
  }
  tr {
    display: flex;
    justify-content: space-between;

    td {
      margin: 0 1rem;
    }
  }
}

.Moves {
  display: grid;
  grid-template-columns: 1fr 1fr;
  p {
    margin: 0;
  }
}
