.Search {
  input {
    border: none;
    background-color: var(--main-yellow);
    color: var(--main-blue);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    transition: all 0.4s ease-in;

    &:active,
    &:focus {
      outline: none;
      background-color: lighten($color: #ffcb05, $amount: 30%);
    }
  }
}
::placeholder {
  color: #3169b1;
}

@media screen and (min-width: 200px) and (max-width: 900px) {
  .Search {
    display: flex;
    justify-content: center;
    input {
      width: 80%;
      padding: 0.3rem 1rem;
      font-size: 1.2rem;
    }
  }
}
