.Sort {
  select {
    width: 190px;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--main-blue);
    color: var(--main-yellow);
    border-radius: 10px;
    font-size: 1rem;
    transition: all 0.4s ease-in;
    cursor: pointer;

    &:hover {
      background-color: lighten($color: #3169b1, $amount: 10%);
    }

    &:active,
    &:focus {
      outline: none;
      background-color: lighten($color: #3169b1, $amount: 10%);
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 900px) {
  .Sort {
    display: none;
  }
}
