.Sort {
  select {
    border: none;
    background-color: #3169b1;
    color: #ffcb05;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: all 0.4s ease-in;
    margin: 0 1rem;
    cursor: pointer;
    width: 190px;

    &:hover {
      background-color: lighten($color: #3169b1, $amount: 10%);
    }

    &:active,
    &:focus {
      outline: none;
      background-color: lighten($color: #3169b1, $amount: 10%);
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 900px) {
  .Sort {
    display: flex;

    select {
      padding: 0.3rem 1rem;
      font-size: 1rem;
      margin: 0;
      width: auto;
    }
  }
}
